@model Klinik.Entities.MasterData.EmployeeModel

@{
    ViewBag.Title = "EmployeeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
        </div>
        <h5 class="panel-title">
            @Klinik.Resources.UIMessages.EmployeeList
            <button id="btnAdd" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;@Klinik.Resources.UIMessages.AddNew</button>
        </h5>
    </header>
    <div class="panel-body">
        <div style="width:100%; margin:0 auto">
            <table id="tbEmployee" class="table table-striped table-bordered dt-responsive" cellspacing="0">
                <thead>
                    <tr>
                        <th>@Klinik.Resources.UIMessages.ID</th>
                        <th>@Klinik.Resources.UIMessages.EmpID</th>
                        <th>@Klinik.Resources.UIMessages.Name</th>
                        <th>@Klinik.Resources.UIMessages.Birthdate</th>
                        <th>@Klinik.Resources.UIMessages.Gender</th>
                        <th>@Klinik.Resources.UIMessages.EmploymentType</th>
                        <th>@Klinik.Resources.UIMessages.EmpStatus</th>
                        <th>@Klinik.Resources.UIMessages.Email</th>
                        <th>@Klinik.Resources.UIMessages.Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {

        $('#btnAdd').click(function (e) {
            window.location.href = "/MasterData/CreateOrEditEmployee";
        });

        $('#tbEmployee').dataTable({
            "autoWidth": false,
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
            "pageLength": 10,
            "ajax": {
                "url": "/MasterData/GetEmployee",
                "type": "POST",
                "datatype": "json"
            },

            "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false,

                },
                {
                    "targets": [1],
                    "searchable": true,
                    "orderable": true
                },
                {
                    "targets": [2],
                    "searchable": true,
                    "orderable": true
                },
                {
                    "targets": [3],
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [4],
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [5],
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [6],
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [7],
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [8],
                    "searchable": false,
                    "orderable": false
                }
                ],

            "columns": [
                { "data": "Id", "name": "Id", "autoWidth": false },
                { "data": "EmpID", "name": "EmpID", "autoWidth": true },
                { "data": "EmpName", "name": "EmpName", "autoWidth": true },
                { "data": "BirthdateStr", "name": "BirthdateStr", "autoWidth": true },
                { "data": "Gender", "name": "Gender", "autoWidth": true },
                { "data": "EmpTypeDesc", "name": "EmpTypeDesc", "autoWidth": true },
                { "data": "EmpStatusDesc", "name": "EmpStatusDesc", "autoWidth": true },
                { "data": "Email", "name": "Email", "autoWidth": true },
                {
                    "render": function (data, type, full, meta) { return '<a class="btn btn-info" href="/MasterData/CreateOrEditEmployee?id=' + full.Id + '">@Klinik.Resources.UIMessages.Edit</a>  ' + " | <button class='btn btn-danger' onclick='Delete(" + full['Id'] + ")' >@Klinik.Resources.UIMessages.Delete</button>"; }
                }

            ]
        });
    });
    var _status, _message, _temp;
    var _arrMsg = [];
    toastr.options = {
        "closeButton": true,
        "positionClass": "toast-top-full-width",
        "onclick": null,
        "showDuration": "0",
        "hideDuration": "0",
        "timeOut": "0",
        "showMethod": "fadeIn"
    };

    var Delete = function (ID) {
        var r = confirm("@Klinik.Resources.UIMessages.DeleteConfirmation" + ID + " ) ?");
        if (r == true) {
            DeleteUser(ID);
        }
        return false;
    }

    function DeleteUser(Id) {
        $.ajax({
            url: '/MasterData/DeleteMasterEmployee?id=' + Id,
            type: 'POST',
            success: function (result) {
                if (result.Status) {
                    toastr.options.closeButton = false;
                    toastr.options.timeOut = 2000;
                    location.reload();
                    toastr.success(result.Message);
                }
                else {
                    toastr.error(result.Message);
                }
            }
        });
    }
    </script>
}